.Card {
    width: 20vh;
    height: 20vh;
    padding: 1vh 1vw;
    background-color: #ecf0f1;
    border-radius: 1vh;
    

}

.Card .title {
	height: 5vh;
	text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    
}

.Card .container {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 5vh;
}

.Card .actions {
	display: flex;
	align-items: center;
	justify-content: center;
    height: 5vh;
}
.btn {
	height: 4vh;
	width: 21vw;
	margin:1vh;
	border-radius: 2vh;
	border:none;
	background-color:#e74c3c;
	color:white;
}

.btn:hover{
	background-color: #c0392b;
}
.btn:focus {
outline: 0;
}

@media (min-width: 800px) {
	
	.Card {
    width: 15vh;
    height: 15vh;
    padding: 0.5vh 0.5vw;
    background-color: #ecf0f1;
    border-radius: 1vh;
    

}
}